# Python
__pycache__/
*.py[cod]
*.pyd
*.egg-info/
dist/
build/
*.egg
*.whl

# Environment Variables
.env
*.env

# Configuration files
*.ini
*.cfg
*.json
*.yaml
*.yml

# Coverage and test results
coverage/
*.log

# Operating system files
.DS_Store
Thumbs.db

# Sensitive files
secret_keys.py
config.py
MANIFEST.in
